#helpid{
  padding: 1em 0em;
}

#errMsg{
  padding: 1em 0em;
}

#boardTable {
  height: 80vh;
  background-image: url('../assets/images/table/table_pattern.jpg');
  position: relative;
}

.handMe{
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-left: 20%;
  padding: 2em;
}

.handCpu{
  text-align: center;
  position: absolute;
  top: 20;
  margin-left: 20%;
  padding: 2em;
}

.cardHand, .cardDecked{
  display: inline-block;
  padding: 5px;
}

.aniDeck{
  transition: left 0.5s ease-out, top 0.5s ease-out;
  position: absolute;
}

.player{
  position: absolute;
  margin-right: 10%;
  right: 0;
}

.playerCpu{
  top: 60;
}

.playerMe{
  bottom: 60;
}

.front-face,
.back-face {
  display: inline-block;
}

.front-face {
  /* transform: rotateY(180deg); */
}

.back-face{
  position: absolute;
}